*.dat
*.swp
*.ps
*.pdf
*.csv
toto
gnuplot_i-2.10
LaTeX/dossierEET.aux
LaTeX/dossierEET.lof
LaTeX/dossierEET.log
LaTeX/dossierEET.out
LaTeX/dossierEET.synctex.gz
LaTeX/dossierEET.toc
LaTeX/dossierEET.bbl
LaTeX/dossierEET.blg

