*.dat
*.swp
*.csv
*~
toto
gnuplot_i-2.10
LaTeX/dossierEET.aux
LaTeX/dossierEET.lof
LaTeX/dossierEET.log
LaTeX/dossierEET.out
LaTeX/dossierEET.synctex.gz
LaTeX/dossierEET.toc
LaTeX/dossierEET.bbl
LaTeX/dossierEET.blg
LaTeX/dossierEET.pdf
LaTeX/dossierEET.dvi
angle.pdf
distribution.pdf
ecart.pdf
histo_pulsations.pdf
histo_theta_fin.pdf
histo_theta_init.pdf
Tc.ps
angle.ps
distribution.ps
ecart.ps
histo_pulsations.ps
histo_theta_fin.ps
histo_theta_init.ps
rayon.ps
Tc.ps
rayon1.ps
histo_thetapoint_deb.ps
histo_thetapoint_fin.ps
psi1.ps
