*.dat
*.swp
*.csv
toto
gnuplot_i-2.10
LaTeX/dossierEET.aux
LaTeX/dossierEET.lof
LaTeX/dossierEET.log
LaTeX/dossierEET.out
LaTeX/dossierEET.synctex.gz
LaTeX/dossierEET.toc
LaTeX/dossierEET.bbl
LaTeX/dossierEET.blg
Tc.pdf
angle.pdf
distribution.pdf
ecart.pdf
histo_pulsations.pdf
histo_theta_fin.pdf
histo_theta_init.pdf
loglog.pdf
rayon.pdf
Tc.pdf
rayon1.pdf

